@model Nop.Plugin.Widgets.NivoSlider.Models.PublicInfoModel
@{
    Layout = "";
    Html.AddScriptParts("~/Plugins/Widgets.NivoSlider/Scripts/CustomSlider.js");
    Html.AddCssFileParts("~/Plugins/Widgets.NivoSlider/Content/CustomSlider.css");
}
@using Nop.Web.Framework.UI
@helper RenderSliderItem(string pictureUrl, string text, string link, string bgColor)
{
    if (!string.IsNullOrEmpty(pictureUrl) && !string.IsNullOrEmpty(link))
    {
        <div class="slider-wrapper" style="background-color:@(bgColor);">
            <a href="@link">
                <img src="@pictureUrl" alt="@text" title="@text" />
            </a>
        </div>
    }
}
<div class="slider" id="divSlider">
    @RenderSliderItem(Model.Picture1Url, Model.Text1, Model.Link1, Model.BgColor1)
    @RenderSliderItem(Model.Picture2Url, Model.Text2, Model.Link2, Model.BgColor2)
    @RenderSliderItem(Model.Picture3Url, Model.Text3, Model.Link3, Model.BgColor3)
    @RenderSliderItem(Model.Picture4Url, Model.Text4, Model.Link4, Model.BgColor4)
    @RenderSliderItem(Model.Picture5Url, Model.Text5, Model.Link5, Model.BgColor5)
</div>
<script type="text/javascript">
    $(function () {
        CustomSlider($("#divSlider"));
    });
</script>